.container {
  height: 150px;
  padding: 8px;
  margin-right: 24px;
  background-color: rgb(243, 244, 245);
}

.event_image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 24px;
}

.title {
  margin-top: 8px;
  height: 40px;
  font-size: 13px;
  color: black;
  color: rgba(12, 18, 28, 0.87);

  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.smart_recommendations {
  margin: 0 0 6px 0;
  height: 17px;
  color: rgba(12, 18, 28, 0.6);
  font-size: 11px;
  font-weight: normal;
  line-height: 17px;
}

.recommendations {
  display: flex;
  align-items: center;
}

.recommendation {
  height: 24px;
  background-color: darkgray;
  border-radius: 8px;
  margin-right: 4px;
}
